[Desktop Entry]
Name=croc-desktop
Comment=Easily and securely transfer files between computers
Exec=croc-desktop
Icon=croc-desktop
Type=Application
Categories=Network;Utility;
Terminal=false
StartupWMClass=croc-desktop
